{% extends "base.html" %} {% block title %}Appointment{% endblock %} {% block
content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'navbardesign.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'background.css')}}">
<br>
<br>
<br>
<div class="title2">
<p style="font-size: 5rem">Select an Apppointment</p>
</div>
<br>
<br>
<br>
<a href="/1st-dose">
<div class="box zoom image p1">
<p>1st Dose</p>
</div>
</a>

<a href="/2nd-dose">
<div class="box zoom image p1">
<p style=" text-decoration: none; ">2nd Dose</p>
</div>
</a>

<a href="/booster">
<div class="box zoom image boxcolor1 p1">
<p>Booster</p>
</div>
</a>



{% endblock %}